.list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;

    h2 {
        width: 100%;
        margin: 24px 16px;

        font-size: 2em;
        font-weight: lighter;
        line-height: 1.5em;
    }

    .item {
        width: 100%;
        min-width: 360px;

        a {
            display: block;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .controls {
        display: flex;
        width: 100%;
        padding: 24px;

        &.aligned-center {
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    .is-half {
        width: 100%;
        max-width: 50%;
    }

    .is-one-third {
        width: 100%;
        max-width: 33.3333%;
    }

    .is-two-thirds {
        width: 100%;
        max-width: 66.6666%;
    }
}
