$colors:    (red   #F44336 #fff), 
            (pink   #E91E63 #fff),
            (purple #9C27B0 #fff),
            (deeppurple #673AB7 #fff),
            (indigo #3F51B5 #fff),
            (blue #2196F3 #fff),
            (lightblue #03A9F4 #000),
            (cyan #00BCD4 #000),
            (teal #009688 #fff),
            (green #4CAF50 #000),
            (lightgreen #8BC34A #000),
            (lime #CDDC39 #000),
            (yellow #FFEB3B #000),
            (amber #FFC107 #000),
            (orange #FF9800 #000),
            (deeporange #FF5722 #fff),
            (brown #795548 #fff),
            (grey #9E9E9E #000),
            (bluegrey #607D8B #fff),
            (black #000 #fff),
            (white #fff #000);

@each $color in $colors {
    $color-name: nth($color, 1);
    $bg-color: nth($color, 2);
    $content-color: nth($color, 3);

    .section.is-#{$color-name} {
        background-color: rgba($bg-color, 0.9);
        color: $content-color;

        h1.title, h2.subtitle, span {
            color: $content-color;
        }
    }
}
