<footer>
  <h2>Contact</h2>
  <p>Feel free to get in touch with me.</p>
  <div class="items">
    <div class="item email">
      <amp-img height="20" width="20" src="icons/lnr-envelope.svg" alt="Envelope icon"></amp-img>
      <!-- Below is very basic bot protection for my email address -->
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6A%61%6B%75%62%40%64%75%72%61%73%2E%6D%65">&#x6A;&#x61;&#x6B;&#x75;&#x62;&#x40;&#x64;&#x75;&#x72;&#x61;&#x73;&#x2E;&#x6D;&#x65;</a>
    </div>
    <div class="item github">
      <amp-img height="20" width="20" src="icons/lnr-code.svg" alt="Code icon"></amp-img>
      <a href="https://github.com/durasj">@durasj</a>
    </div>
    <div class="item mobile">
      <amp-img height="20" width="20" src="icons/lnr-phone-handset.svg" alt="Handset icon"></amp-img> &#x2B;&#x34;&#x32;&#x31;&#x20;&#x39;&#x31;&#x37;&#x20;&#x34;&#x33;&#x32;&#x20;&#x39;&#x37;&#x34;
    </div>
    <div class="item location">
      <amp-img height="20" width="20" src="icons/lnr-map-marker.svg" alt="Map marker icon"></amp-img> Slovakia
    </div>
  </div>
  <div class="copyright">
    Copyright Jakub Ďuraš. Code of this website is licensed under the MIT
    License and available at
    <a href="https://github.com/durasj/website">GitHub</a>.
  </div>
</footer>
