<!DOCTYPE html>
<html ⚡ lang="en-us">
  <head>
    <%- include('head.ejs'); %>

    <!-- injectcss --><!-- relevant .css is processed and inlined here as style amp-custom --><!-- endinject -->

    <link rel="canonical" href="https://duras.me/" />
    <meta
      name="description"
      content="Simplifying our life with software. Focused on cross-platform JavaScript development with proper software engineering and usable design. Open-source enthusiast."
    />
    <title>Jakub Duras - Software Developer</title>
  </head>
  <body>
    <h1 class="h1">Jakub Duras - Software Developer</h1>

    <h2 class="h2">Commercial experience</h2>

    <% projects.filter(p => p.type === 'commercial').forEach(function(project) { %>
    <div>
      <%=project.title%>
      <amp-img
        src="<%=project.photos[0].src%>"
        alt="<%=project.photos[0].caption%>"
        height="400"
        width="800"
        layout="responsive"
      ></amp-img>
    </div>
    <% }); %>

    <h2 class="h2">Non-commercial / Open-source</h2>

    <% projects.filter(p => p.type === 'noncommercial').forEach(function(project) { %>
      <div>
        <%=project.title%>
        <amp-img
          src="<%=project.photos[0].src%>"
          alt="<%=project.photos[0].caption%>"
          height="400"
          width="800"
          layout="responsive"
        ></amp-img>
      </div>
    <% }); %>

    <%- include('footer.ejs'); %>
  </body>
</html>
